@font-face {
    font-family: 'open_sansregular';
    src: url('polices/OpenSans-Regular-webfont.eot');
    src: url('polices/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('polices/OpenSans-Regular-webfont.woff') format('woff'),
         url('polices/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('polices/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('polices/OpenSans-Bold-webfont.eot');
    src: url('polices/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('polices/OpenSans-Bold-webfont.woff') format('woff'),
         url('polices/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('polices/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('polices/OpenSans-Semibold-webfont.eot');
    src: url('polices/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('polices/OpenSans-Semibold-webfont.woff') format('woff'),
         url('polices/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('polices/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
    margin: 0;
}
header
{
    background: lightblue;
    padding: 30px;
}

h3
{
    font-family: 'open_sanssemibold';
}

.logo
{
    width: 100px;
}

li
{
    list-style-type: none;
    vertical-align: top;
    font-family: 'open_sansregular';
}

main
{
    background: lightsalmon;
    height: 800px;
    padding: 30px;
}

#encart_hébergements
{
    border-block-color: red;
    border-radius: 15px;
    background-color: limegreen;
    width: 500px;
    padding: 20px;
    background-attachment: scroll;
    background-clip: border-box;
}

#hébergements_à_Marseille
{
    display: flex;
    flex-wrap: wrap;
}